[submodule "sane-backend-vapi"]
	path = sane-backend-vapi
	url = git@github.com:robinhellen/sane-backend-vapi.git
[submodule "vala-scan"]
	path = vala-scan
	url = git@github.com:robinhellen/vala-scan.git
[submodule "diva"]
	path = diva
	url = git@github.com:robinhellen/diva.git
